@charset "utf-8";
/* CSS Document */
*{margin:0px; padding:0px;}
body{font:12px/1.5 Microsoft YaHei,SimSun, Arial, Helvetica, sans-serif; color:#000; background:#FFF;}
img{border:0px;}
ul,ol{list-style-type:none;}
h1,h2,h3,h4,h5,h6{ font-weight:normal;}
table {border-collapse: collapse;border-spacing: 0;}
input,select,textarea{vertical-align:middle; outline:none; resize:none; font-family:Microsoft YaHei;}
a{color:#333; text-decoration:none;}
.clearfix{zoom:1; overflow:hidden;}
.clear{ clear:both; font-size:0; height:0; line-height:0;}
.leftF{float:left;}
.rightF{float:right;}
.icons{ font-size:0px; text-indent:-9999999px; overflow:hidden; display:block;}
/*以上初始化*/
/*input伪元素placeholder更改颜色*/
::-webkit-input-placeholder { 
    color: #A8A7D2; text-overflow: ellipsis; 
}
:-moz-placeholder { 
    color: #A8A7D2 !important; text-overflow: ellipsis; 
}
::-moz-placeholder { 
    color: #A8A7D2 !important; text-overflow: ellipsis; 
} /* for the future */
:-ms-input-placeholder { 
    color: #A8A7D2 !important; text-overflow: ellipsis; 
}

