html {
    overflow-y: scroll;
}

:root {
    overflow-y: auto;
    overflow-x: hidden;
}



body{
    background: #000C1A ;
}

.container-fluid{
    width: 90%;
    padding-left: 0px;
    padding-right: 0px;
}

.main_code{
    margin-top: 4rem;
    margin-bottom: 2rem;
    text-align: center;
}

.fa-qrcode{
    padding:1rem;
    margin-top: 3rem;
    margin-bottom: 3rem;
    border-radius: 4rem;
    box-shadow: 0 0 200px rgba(0, 165, 237,0.8) inset, 0 0 100px rgba(0, 165, 237,0.75);
    background: rgba(255,255,255,0.75);
    background-size: 50% 50%;
}

.sign_topic{
    letter-spacing: 0.2rem;
}

/*---------------------------------------------*/

.star {
    position:relative;
    z-index:-999;
    width: 3px;
    height: 3px;
    border-radius: 50%;
    position: absolute;
    background-color: rgba(237, 205, 163, 0.8);
    box-shadow: 0 0 40px 0 rgba(237, 205, 163, 0.8), 0 0 20px 0 #FFFFFF;
    animation: glow 5s infinite;
}
.star--medium {
    width: 6px;
    height: 6px;
}
.star--big {
    width: 9px;
    height: 9px;
    box-shadow: 0 0 40px 0 #EDCDA3, 0 0 20px 0 #FFFFFF, inset 0 0 4px #FFFFFF;
}

.comet {
    position:relative;
    z-index:-999;
    width: 6px;
    height: 6px;
    background-color: rgba(255, 255, 255, 0.6);
    box-shadow: 0 0 40px 0 #EDCDA3, 0 0 20px 0 #FFFFFF, inset 0 0 8px rgba(255, 255, 255, 0.6);
    top: 0;
    left: 80%;
    opacity: 0.3;
    transform: rotate(-45deg) translate(0, -50px);
    animation: comet 6s infinite;
}
.comet:after {
    content: '';
    width: 20vw;
    height: 6px;
    border-radius: 50%;
    background-color: rgba(255, 255, 255, 0.1);
    box-shadow: 0 0 20px rgba(237, 205, 163, 0.4);
    position: absolute;
    top: 0;
    left: 0;
}

@keyframes glow {
    0% {
        opacity: 0.9;
    }
    50% {
        opacity: 0.2;
    }
    100% {
        opacity: 0.9;
    }
}
@keyframes comet {
    0% {
        transform: rotate(-45deg) translateX(0);
        opacity: 0.3;
    }
    10% {
        opacity: 1;
    }
    20% {
        transform: rotate(-45deg) translateX(-100vw);
        opacity: 0;
    }
    100% {
        transform: rotate(-45deg) translateX(-100vw);
        opacity: 0;
    }
}

/*--------*/
